/*General*/
div {
  display: inline-block;
  text-align: center;
}
/*Controls*/
div#newGame {
  background-color: #0099ff;
  width: 85px;
  height: 34px;
}
div#newGame p {
  margin: 0px;
  padding: 8px 0px;
}
/*Game Board*/
div.box {
  width: 40px;
  height: 40px;
  background-color: #dddddd;
  margin: 0px -2px;
}
div.box p {
  padding: 11px 0px;
  margin: 0px;
}
